<div id="eye">
	
</div>


<script>

	// $("a.loadmap").on("click", function() {
		loadMap()
	// })

	// var map;
	// var newLat = 0;
	// var newLng = 0;
	// var panelDetails;
	// var adpSummary;
	// var routeTimeEst;
	// var routeDistEst;

	// // Set destination, origin and travel mode.

	// function getGeocode(address, lat, lng) {
	// 	var geocoder; geocoder = new google.maps.Geocoder(); geocoder.geocode( { 'address': address}, function(results, status) { if (status == 'OK') {lat = results[0].geometry.location.lat();lng = results[0].geometry.location.lng();} else {console.log('GeoCode failed: ' + status);}})}


	// function mapsRequest(destination, dName, dLat, dLng, origin, oName, oLat, oLng) {
	// 	var request = {
	// 	  destination: destination,
	// 	  origin: origin,
	// 	  travelMode: 'DRIVING'
	// 	};

	// 	var directionsDisplay = new google.maps.DirectionsRenderer({
	// 		map: map,
	// 		suppressMarkers: true,
	// 		polylineOptions: {
	// 		  strokeColor: "#00ffff"
	// 		}
	// 	});

	// 	// Pass the directions request to the directions service.
	// 	var directionsService = new google.maps.DirectionsService();
	// 	directionsService.route(request, function(response, status) {
	// 	  if (status == 'OK') {
	// 	    // Display the route on the map.
	// 	    directionsDisplay.setDirections(response);
	// 	    directionsDisplay.setPanel(document.getElementById('directionsPanel'))
	// 	    panelDetails = directionsDisplay.panel

	// 	    console.log(response)

	// 	    setTimeout(function() {
	// 	    	routeTimeEst = $("span[jstcache=82]").text()
	// 	    	routeDistEst = $("span[jstcache=56]").text()
	// 		    responsiveVoice.speak("About " + routeDistEst + ", and should take " + routeTimeEst + ".", "UK English Male", {rate: 1});

	// 		    // Set destination
	//             $.ajax({ type: 'POST', url: '/setdestination' });
	// 		}, 1000)
	// 	  }
	// 	});

	// 	var cyanDotTop = {
	// 		path: google.maps.SymbolPath.CIRCLE,
	// 		fillColor: '#05bfc0',
	// 		fillOpacity: 1,
	// 		scale: 8,
	// 		strokeColor: '#05bfc0',
	// 		strokeWeight: 3,
	// 		labelOrigin: new google.maps.Point(19, -3),
	// 	};

	// 	var cyanDotBot = {
	// 		path: google.maps.SymbolPath.CIRCLE,
	// 		fillColor: '#05bfc0',
	// 		fillOpacity: 1,
	// 		scale: 8,
	// 		strokeColor: '#05bfc0',
	// 		strokeWeight: 3,
	// 		labelOrigin: new google.maps.Point(23, -3),
	// 	};

	// 	new google.maps.Marker({
	// 		position: {lat: dLat, lng: dLng},
	// 		map: map,
	//  		label: {text: dName, color: "white", fontSize: "28px", fontWeight: "300"},
	// 		icon: cyanDotBot
	// 	});

	// 	new google.maps.Marker({
	// 		position: {lat: oLat, lng: oLng},
	// 		map: map,
	//       		label: {text: oName, color: "white", fontSize: "28px", fontWeight: "300"},
	// 		icon: cyanDotTop
	// 	});


	// 	// Speak out the directions!
	// }



	// function initMap() {
	// 	map = new google.maps.Map(document.getElementById('map'), {
	// 	center: {lat: 40.7128, lng: -74.0059},
	// 	zoom: 12,
	// 	zoomControl: false,
	// 	scaleControl: true,
	// 	mapTypeControl: false,
	// 	fullscreenControl: false,
	// 	streetViewControl: false,
	// 	styles: [
	// 	  {
	// 	    "elementType": "geometry",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#1d2c4d"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "elementType": "labels.text.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#038f94"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "elementType": "labels.text.stroke",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#1a3646"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "administrative.country",
	// 	    "elementType": "geometry.stroke",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#4b6878"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "administrative.land_parcel",
	// 	    "elementType": "labels",
	// 	    "stylers": [
	// 	      {
	// 	        "visibility": "off"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "administrative.land_parcel",
	// 	    "elementType": "labels.text.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#64779e"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "administrative.province",
	// 	    "elementType": "geometry.stroke",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#4b6878"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "landscape.man_made",
	// 	    "elementType": "geometry.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#082436"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "landscape.man_made",
	// 	    "elementType": "geometry.stroke",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#334e87"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "landscape.natural",
	// 	    "elementType": "geometry",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#023e58"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "poi",
	// 	    "elementType": "geometry",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#283d6a"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "poi",
	// 	    "elementType": "labels.text",
	// 	    "stylers": [
	// 	      {
	// 	        "visibility": "off"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "poi",
	// 	    "elementType": "labels.text.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#6f9ba5"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "poi",
	// 	    "elementType": "labels.text.stroke",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#1d2c4d"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "poi.business",
	// 	    "stylers": [
	// 	      {
	// 	        "visibility": "off"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "poi.park",
	// 	    "elementType": "geometry.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#023e58"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "poi.park",
	// 	    "elementType": "labels.text.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#3C7680"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road",
	// 	    "elementType": "geometry",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#000"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road",
	// 	    "elementType": "labels.icon",
	// 	    "stylers": [
	// 	      {
	// 	        "visibility": "off"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road",
	// 	    "elementType": "labels.text.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#fff"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road",
	// 	    "elementType": "labels.text.stroke",
	// 	    "stylers": [
	// 	      {
	// 	        "visibility": "off"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road.arterial",
	// 	    "elementType": "geometry.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#033751"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road.highway",
	// 	    "elementType": "geometry",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#054f62"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road.highway",
	// 	    "elementType": "geometry.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#014b80"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road.highway",
	// 	    "elementType": "geometry.stroke",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#255763"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road.highway",
	// 	    "elementType": "labels.text.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#b0d5ce"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road.highway",
	// 	    "elementType": "labels.text.stroke",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#023e58"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road.local",
	// 	    "elementType": "geometry.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#02294a"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "road.local",
	// 	    "elementType": "labels",
	// 	    "stylers": [
	// 	      {
	// 	        "visibility": "off"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "transit",
	// 	    "stylers": [
	// 	      {
	// 	        "visibility": "off"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "transit",
	// 	    "elementType": "labels.text.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#98a5be"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "transit",
	// 	    "elementType": "labels.text.stroke",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#1d2c4d"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "transit.line",
	// 	    "elementType": "geometry.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#283d6a"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "transit.station",
	// 	    "elementType": "geometry",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#3a4762"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "water",
	// 	    "elementType": "geometry",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#0e1626"
	// 	      }
	// 	    ]
	// 	  },
	// 	  {
	// 	    "featureType": "water",
	// 	    "elementType": "labels.text.fill",
	// 	    "stylers": [
	// 	      {
	// 	        "color": "#4e6d70"
	// 	      }
	// 	    ]
	// 	  }
	// 	]
	// 	});
	// }




	///////// GETTING MAP COORDINATES IN REAL TIME
	// var lat = map.center.lat()
	// var lat = map.center.lng()

	// window.setTimeout(function() {
	//   map.panTo(new google.maps.LatLng(40.72104206971492, -73.97578569335938))
	// }, 750);
	
	// // Initialize with voice
	// responsiveVoice.speak("Here is our planned route.  Let me know if you need anything.", "UK English Male", {rate: 1});

      // This example requires the Drawing library. Include the libraries=drawing
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });

        var drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.MARKER,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
          },
          markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
          circleOptions: {
            fillColor: '#ffff00',
            fillOpacity: 1,
            strokeWeight: 5,
            clickable: false,
            editable: true,
            zIndex: 1
          }
        });
        drawingManager.setMap(map);
      }
</script>
