<div id="index">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 dialogue-container">
				<%= render 'main/modularVoice' %>
			</div>
			<div class="col-sm-8 action-container">

				<div class="weather-content">
					<h4><span class="datetime">7:58 AM Wednesday, August 22</span><span class="location">Greenville, North Carolina</span></h4>
					<div class="warning"><em><b>Tropical Storm Warning</b></em>&ensp;<b>|</b>&ensp;Hurricane Florence Making Landfall 8am</div>
					<p>Currently a Category 4 Hurricane, Florence is expexted to cause widespread damage and flooding.  Evacuation recommended</p>

					<div class="four-day-forecast">
						<div class="row">
							<div class="col-sm-3 day-container">
								<h3>Wed</h3>
								<img class="icon" src="/assets/icon_sun.png" />
								<h4>Sunny</h4>
								<h4>82F / 72F</h4>
							</div>
						</div>
					</div>
				</div>

				<%= render 'layouts/menu' %>
			</div>
			
			<%= render 'layouts/notifications' %>

		</div>
	</div>
</div>

<script type="text/javascript">
	
	var outputDialogue = true
	var currentUsername = "<%= current_user.username.to_s %>"

	// start waves
	// embedWaves()

</script>