<div id="index">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-3 dialogue-container">
				<%= render 'main/modularVoice' %>
			</div>
			<div class="col-sm-9 action-container">
				<%= render 'layouts/menu' %>
			</div>
			
			<%= render 'layouts/notifications' %>

		</div>
	</div>
</div>

<div class="weather-content">
	<h4><span class="datetime"></span><span class="location">Greenville, North Carolina</span></h4>
	<div class="warning"><em><b></b></em>&ensp;<b>|</b>&ensp;<span class="storm-desc"></span></div>
	<p class="description">Currently a Category 4 Hurricane, Florence is expexted to cause widespread damage and flooding.  Evacuation recommended</p>

	<div class="four-day-forecast">
		<div class="row">
			<div class="col-sm-3 day-container">
				<h3></h3>
				<img class="icon" src="" />
				<h4></h4>
				<h5></h5>
			</div>
			<div class="col-sm-3 day-container">
				<h3></h3>
				<img class="icon" src="" />
				<h4></h4>
				<h5></h5>
			</div>
			<div class="col-sm-3 day-container">
				<h3></h3>
				<img class="icon" src="" />
				<h4></h4>
				<h5></h5>
			</div>
			<div class="col-sm-3 day-container">
				<h3></h3>
				<img class="icon" src="" />
				<h4></h4>
				<h5></h5>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	var outputDialogue = true
	var currentUsername = "<%= current_user.username.to_s %>"

	// start waves
	// embedWaves()

	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10) { dd = '0'+dd }
	if(mm<10) { mm = '0'+mm }
	today = mm + '/' + dd + '/' + yyyy;
	$(".weather-content .datetime").html(today)

</script>