<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="introduction">
					<img class="logo" src="/assets/owl_logo.jpg" />
					<h1>Project OWL Home</h1>
					<p>Welcome Back, <%= current_user.username %></p>
					<%= render 'main/modularVoice' %>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	var outputDialogue = true
	
</script>