<div id="index">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 dialogue-container">
				<div class="introduction">
					<%= render 'main/modularVoice' %>
				</div>
			</div>
			<div class="col-sm-6">
				<p>sadf</p>

			</div>
			<div class="col-sm-3 notifications-container">
				<p>ayo</p>
				<Br><br><Br><br><br><br><br>
				<p>Ayo</p>

			</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	var outputDialogue = true
	

	// start waves
	embedWaves()

</script>