<div id="landing" class="landing">
	<div class="banner">
		<div class="container content" data-0="top:0px; opacity: 1;" data-500="top: 200px; opacity: 0;">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 intro">
					<h1>Owl<img class="icon" src="/assets/owl_icon_light.png" /></h1>
					<h3>Organization, whereabouts, and logistics for disasters</h3>
					<a class="link problem"><i class="fas fa-info-circle"></i>Learn More</a>
					<a href="#" class="link"><i class="fab fa-youtube"></i>Watch Demo (7 min)</a>
					<!-- <a href="/signup" class="link"><i class="fas fa-plus-circle"></i>Create Account</a> -->
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h4>OWL Software Demo (7 minutes)</h4>
					<iframe width="100%" height="250" src="https://www.youtube.com/embed/HPtwrfv-gxs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div> -->
		</div>
		<img class="bg" src="/assets/index_banner.jpg" />
	</div>
	<div class="section problem" id="problem">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="challenge">
						<h2>The Challenge</h2>
						<p>Disaster preparation, management, and recovery is a complicated, high pressure, and costly endeavor.</p>
					</div>
					<h2>Our Solution</h2>
					<div class="solution">
						<p>A hardware and software disaster management solution providing analytics, communications, and organizational capabilities to streamline disaster preparation, management, and recovery efforts.</p>
						<!-- <span><img class="icon" src="/assets/clusterduck_icon.png" />Clusterduck Network Hardware<br>+<br><img class="icon" src="/assets/owl_icon_light.png" />OWL Management Software</span> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section background">
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<img class="block" src="/assets/owl_capabilities.jpg" />
				</div>
				<div class="col-sm-6 col-sm-offset-1 content">
					<h2><b>Owl</b><img class="icon" src="/assets/owl_icon_light.png" /> Incident Command</h2>
					<p>Manage incidents with Owl cloud software regardless of the incident size, cause, or location.</p>
					<p>Accumulate and analyze data, predict weather patterns, and manage resources before, during, and after a disaster with Owl --- just by talking to it.</p>
					<a href="/owldetails">More About Owl <i class="fas fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section hardware">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 content">
					<h2>Clusterduck Mobile Network</h2>
					<p>In the worst disasters, cellular and electrical networks might be offline in the area.</p>
					<p>The Clusterduck mobile network is made of portable IoT devices - called "Ducklinks" -  that collectively provide an ad-hoc internet network. Through the Clusterduck network, OWL incident management can be leveraged in situations where traditional infrastructure is unavailable.</p>
					<a href="/clusterduck">More About Clusterduck <i class="fas fa-arrow-circle-right"></i></a>
				</div>
				<div class="col-sm-6 col-sm-offset-1">
					<img src="/assets/clusterduck_overview.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="section open">
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<img class="block" src="/assets/icon_opensource.png" />
				</div>
				<div class="col-sm-7 content">
					<h2>Open Source Technology</h2>
					<p>Owl is powered by the latest IBM Watson AI and IoT cloud services. Moving forward, there are many more experiences to make for Owl software and Clusterduck hardware.  <b>Want to build with us?</b></p>
					<p>Contribute to open source experiences for the Owl incident management system or build on top of the Clusterduck base hardware.</p>
					<a href="/opensource">Learn How To Contribute <i class="fas fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</div>




<script type="text/javascript">
	var s = skrollr.init();



    // Smooth scrolling

    $(".link.problem").on("click", function() {
    	$([document.documentElement, document.body]).animate({
	        scrollTop: $("#problem").offset().top
	    }, 780);
    })
</script>


