<div id="landing">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h1>OWL</h1>
					<h3><b>O</b>rganization, <b>W</b>hereabouts, and <b>L</b>ogistics for Disaster Preparation and Recovery</h3>
				</div>
				<div class="col-sm-5 col-sm-offset-1">
					<h4>OWL Overview Video (7 minutes)</h4>
					<iframe width="100%" height="250" src="https://www.youtube.com/embed/HPtwrfv-gxs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<img class="bg" src="/assets/index_banner.jpg" />
	</div>
	<div class="section problem">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="challenge">
						<h2>The Challenge</h2>
						<h3>Disaster preparation, management, and recovery is a complicated, high-pressure, and time-constrained endeavor.</h3>
					</div>
					<h2>Our Solution</h2>
					<div class="soluation">Clusterduck + OWL</div>
					<h3>A hardware and software disaster management solution that brings analytics, cummincative, and organizational capabilities to afflicted populations.</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="section background">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img class="block" src="/assets/landing_menu.jpg" />
				</div>
				<div class="col-sm-5 col-sm-offset-1 content">
					<h2>OWL Incident Command</h2>
					<p>Manage incidents seamlessly regardless of their size, cause, or location.<br><Br>OWL provides capabilities to accumulate and analyze data, understand and predict weather patterns, and manage resources before, during, and after a disaster --- just by talking to it.</p>
					<a href="/owldetails">More About OWL <i class="fas fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h2>Data Analytics</h2>
					<p>Sophisticated Data Analytics based on data from tons of sources...12 weather company APIs...all 12 IBM Watson Services</p>
				</div>
				<div class="col-sm-6">
					<img src="/assets/owl_mockup_06.jpg" />
				</div>
			</div>
		</div>
	</div> -->
	<div class="section hardware">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h2>Clusterduck Mobile Network</h2>
					<p>In the worst disasters, cellular and electrical networks are kicked offline. Through the Clusterduck mobile network, OWL incident management can be deployed to the worst disasters.</p>
					<a href="/clusterduck">More About Clusterduck <i class="fas fa-arrow-circle-right"></i></a>
				</div>
				<div class="col-sm-6">
					<img class="block" src="/assets/clusterduck_design.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="section open">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img class="block" src="/assets/clusterduck_design.png" />
				</div>
				<div class="col-sm-6">
					<h2>Open Source Technology</h2>
					<p>Want to contribute to the OWL project or the Clusterduck network?  Create experiences for the OWL incident management system or build on top of the Clusterduck base hardware.</p>
					<a href="/opensource">Learn More <i class="fas fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>