<div id="landing" class="opensource">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Open Source</h1>
				</div>
			</div>
		</div>
		<canvas class="background"></canvas>
	</div>
	<div class="section appstore">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img class="block" src="/assets/landing_menu.jpg" />
				</div>
				<div class="col-sm-5 col-sm-offset-1 content">
					<h2>Create OWL Experiences</h2>
					<p>Create HTML, CSS, and Javascript app experiences for OWL.  These experiences can be accessed by first responders and civilians from an app store within the OWL incident management platform.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section quackpack">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 content">
					<h2>Clusterduck Quackpack</h2>
					<p>Create hardware addons for the mobile IoT Ducklinks.  These additions can include solar panels, sensors, and more.  The Quackpack can be used to improve the performance, longetivity, and function of a Clusterduck network</p>
				</div>
				<div class="col-sm-6 col-sm-offset-1">
					<img class="block" src="/assets/clusterduck_photo02.jpg" />
				</div>
			</div>
		</div>
	</div>
	<%= render 'layouts/footer' %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
<script type="text/javascript">
	
	$(window).load(function() {
		var particles = Particles.init({
			selector: '.background',
		  	color: '#292929',
		  	connectParticles: true,
		  	sizeVariations: 5,
		  	maxParticles: 150,
		  	speed: .3
		});
	});
</script>