<div id="landing">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>OWL Details</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img class="block" src="/assets/landing_menu.jpg" />
				</div>
				<div class="col-sm-5 col-sm-offset-1 content">
					<h2>Fast, Simple Incident Management</h2>
					<p>Create an incident (such as Hurricane Florence) and begin management by establishing a leadership structure, communicating with relevant individuals, adding priorities for first responders and distributing status notifications to the public.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 content">
					<h2>Just Talk to OWL</h2>
					<p>Leverage all of OWL's incident management capabilities just by talking to it.  The conversational interface provides an intuitive experience critical for environments where it is hard to think straight; for the tired, the dirty, and the hungry responders.</p>
				</div>
				<div class="col-sm-6 col-sm-offset-1">
					<img class="block" src="/assets/landing_menu.jpg" />
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img class="block" src="/assets/landing_menu.jpg" />
				</div>
				<div class="col-sm-5 col-sm-offset-1 content">
					<h2>OWL is for Civilians, Too</h2>
					<p>As a civilian afflicted by a disaster, you are able to log in to OWL and upload basic data about your situation, location, and needs.  Additionally take photographs of your posessions and upload to document damage if needed later for insurance claims.</p>
				</div>
			</div>
		</div>
	</div>
</div>