<div id="search">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Search among <%= User.count %> people</h1>
				<div class="search-widget">
				  <input id="users" placeholder="username" class="form-control">
				</div>
				<div id="searchresult">

				</div>

				<div class="userlist">
					<% User.all.each do |f| %>
						<p><%= f.username %></p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  var users = "<%= @us %>"
  var userArray = users.split(",")
  $( "#users" ).autocomplete({
    source: userArray,
  	appendTo: "#searchresult"
  })
</script>
 
					
