<div id="search">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Search among <%= User.count %> people</h1>
				<div class="search-widget">
				  <input id="users" placeholder="username" class="form-control">
				</div>
				<div id="searchresult">

				</div>

				<div class="userlist">
					<% User.all.each do |f| %>
						<p>
							<%= f.username %>
							
						</p>
					<% end %>
				</div>

				<div class="hidden users-json"><%= @us %></div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

  var users = JSON.parse($(".users-json").html())

  $( "#users" ).autocomplete({
    source: users,
  	appendTo: "#searchresult",
  	select: function( event, ui ) {

  	}
  }).autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div class='row'><div class='col-sm-4'>" + item.label + "</div><div class='col-sm-4'>" + item.value + "</div><div class='col-sm-4'>" + item.id + "</div></div>" )
        .appendTo( ul );
  };


  // $( "#project" ).autocomplete({
  //     minLength: 0,
  //     source: projects,
  //     focus: function( event, ui ) {
  //       $( "#project" ).val( ui.item.label );
  //       return false;
  //     },
  //     select: function( event, ui ) {
  //       $( "#project" ).val( ui.item.label );
  //       $( "#project-id" ).val( ui.item.value );
  //       $( "#project-description" ).html( ui.item.desc );
  //       $( "#project-icon" ).attr( "src", "images/" + ui.item.icon );
 
  //       return false;
  //     }
  //   })
  //   .autocomplete( "instance" )._renderItem = function( ul, item ) {
  //     return $( "<li>" )
  //       .append( "<div>" + item.label + "<br>" + item.desc + "</div>" )
  //       .appendTo( ul );
  //   };

</script>
 
					
