<div id="messages">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>All Messages</h1>
				<div class="message-list">
					<% @messages.each do |m| %>
						<div class="message <% if m.read == false && m.recipient == current_user.id %>unread<% end %>"><%= m.message %></div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="message-window">

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	$(".message-list .message").on("click", function() {

		// add thread to message window
		$(".message-window")
	})
</script>