<div id="signup">
	<div class="container">
		<div class="row">
			<div class="form col-md-8 col-sm-offset-0">
				<div class="heading">
					<h3>Sign in below.</h3>
				</div>
				<div class="content">
					<p>Sign in to your account through the form below.<br>Are you new? <a href="/signup">Create an account here.</a></p>
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>