<div id="signup">
	<div class="container">
		<div class="row">
			<div class="form col-sm-6">
				<div class="panel">
					<div class="heading">
						<h3>Create an account below.</h3>
					</div>
					<div class="content">
						<p>Create an account using the form below.<br>Already have an account? <a href="/signin">Sign in here.</a></p>
						<%= render 'form' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>