/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */






.button {
	display: inline-block;
	padding: .5em 1.5em;
	font-size: 1em;
	line-height: 1.15em;
	color: #333;
	background: #f1f1f1;
	border: 2px solid #ccc;
}

header#header {
	position: relative;
	display: block;
	width: 100%;
	background: #f1f1f1;
	z-index: 500;


	a.logo {
		padding: 0;
		display: inline-block;
		padding: 1rem 0;
		font-size: 1em;
		vertical-align: top;
	}

	img {
		display: block;
		max-height: 5rem;
		margin-top: 0;
	}

	a.logo:hover {
		background: transparent;
	}

	a:hover {
		background: transparent;
	}

	a {
		display: inline-block;
		font-size: 1.25em;
		color: #333;
		padding: 0 1em;
		line-height: 7rem;
		text-decoration: none;
		background: rgba(0,0,0,0);
		transition: all .15s;
		-ms-transition: all .15s;
		-webkit-transition: all .15s;
		-moz-transition: all .15s;
	}

	a:hover {
		background: rgba(0,0,0,.1);		
	}

	.links {
		display: inline-block;
		text-align: right;
		float: right;
		vertical-align: top;

		a {
			position: relative;
		}

		svg {
			font-size: 1em;
		}

		.messages {

		}

		.messages.unread {

			span {
				display: inline-block;
				font-size: .65em;
				width: 1.5em;
				height: 1.5em;
				line-height: 1.5em;
				text-align: center;
				border-radius: .75em;
				background: red;
				color: #fff;
				position: absolute;
				top: 1em;
				right: .5em;
			}
		}
	}
}