// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$bg: #0f253a;
$highlight: #fcc802;

h1, h2, h3, h4, h5, h6, span, p, a, ul, li, div, em, b {
	font-family: 'Oxygen', sans-serif;
}


.conversation {
	position: relative;

	.input-container {
		padding: 1em 0;
		position: absolute;
		text-align: left;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 15;

		#readout {
			background: transparent;
			outline: 0;
			box-shadow: 0;
			border: 0;
			font-size: 1.25em;
			line-height: 1.25em;
			width: 75%;
			height: auto;
			color: #fff;
			border-radius: 0;
			font-weight: 300;
			padding: 0;
		}

		#startBtn {
			background: transparent;
			color: rgba(255,255,255,.6);
			box-shadow: 0 0 0;
			border: 2px solid rgba(255,255,255,.5);
			margin-right: .25em;
			font-size: 1.15em;
			outline: 0;
			width: 2.5em;
			height: 2.5em;
			border-radius: 1.5em;
		}

		#startBtn:hover {
			background: rgba(255,255,255,1);
			color: $bg;
		}

		#startBtn.active {
			background: red;
			color: #fff;
			box-shadow: 0 0 15px rgba(255,255,255,.5);
			border: 3px solid red;
		}
	}

	.dialogue {
		position: relative;
		z-index: 10;
		padding: 8rem 1em 1em;
		min-height: 100vh;
		margin: 0 auto 0;
		text-align: center;
		display: block;
		width: 100%;

		.uploads-form {
			margin-top: 5em;
			margin-bottom: 2em;
			position: relative;
			top: 15px;
			opacity: 0;
			display: none;
			transition: all .25s;
			-ms-transition: all .25s;
			-moz-transition: all .25s;
			-webkit-transition: all .25s;

			.file-box {
				position: relative;
				display: block;
				cursor: pointer;

				.file-label {
					cursor: pointer;
					padding: 3em 2em;
					font-size: 1.5em;
					border: 5px solid orange;
					position: relative;
					color: orange;
					z-index: 15;
					text-align: center;
					display: block;
				}

				.file-input {
					cursor: pointer;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 50;
					color: #fff;
					opacity: 0;
				}
			}

			.file-box:hover {

				.file-label {
					color: #333;
					background: orange;
				}
			}
		}

		.uploads-form.in {
			display: block;
			top: 0px;
			opacity: 1;
		}

		.message {
			display: block;
			position: relative;
			text-align: left;
			font-weight: 300;
			padding: 0;
			margin: 0 0 1.75em;
			top: 0;
			font-size: 1.25em;
			height: 3.5em;
			height: auto;
			color: rgba(255,255,255,1);
			opacity: 1;
			transition: all .35s;

			user {
				display: block;
				font-size: .85em;
				font-weight: 600;
				font-style: italic;
				color: rgba(255,255,255,.5);

				t {
					display: inline;
					margin-left: .35em;
					font-weight: 300;
				}
			}

			span {
				display: block;
			}

			svg {
				display: inline-block;
				margin-right: .5em;
			}

			img {
				display: block;
				width: 100%;
			}
		}

		.message.out {
			opacity: 0;
			top: 20px;
		}

		.message.fadeout {
			opacity: 0;
			top: -20px;
		}
	}
}

#wavesContainer {
	position: relative;
	width: 100%;
	z-index: 1;
	text-align: left;
	overflow-x: hidden;
	opacity: 1;
	transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;

	canvas {
		width: 100%;
	}
}


#index {
	background: $bg;
	padding: 0 0;
	min-height: 100vh;
	color: #fff;

	.introduction {
		padding-top: 15vh;
		text-align: center;

		img.logo {
			display: block;
			height: 20vh;
			margin: 0 auto 10vh;
		}

		h1 {
			font-weight: 700;
			margin: 0 0 .5em;
			line-height: 1.25em;
		}

		p {
			font-size: 1.25em;
			font-weight: 300;
			line-height: 1.25em;
			margin: 0 0 1em;
		}

		.login {
			width: 75%;
			margin: 1em auto;

			.form-control {
				display: inline-block;
				margin: 0 0 1.5em;
			}

			.button-container {
				text-align: left;
			}
		}
	}

	.action-container {
		padding-top: 6rem;

		.content-image {
			display: block;
			width: 100%;
			opacity: 0;
			transition: all .2s;
			-ms-transition: all .2s;
			-moz-transition: all .2s;
			-webkit-transition: all .2s;
		}
	}

	.dialogue-container {
		border-right: 2px solid rgba(255,255,255,.15);
	}

	.notifications-container {
		position: fixed;
		top: 0;
		right: -15em;
		height: 100%;
		width: 20em;
		border-left: 2px solid rgba(255,255,255,.15);
		min-height: 100vh;
		z-index: 550;
		background: $bg;
		padding: 0 0 0;
		transition: all .175s;
		-ms-transition: all .175s;
		-moz-transition: all .175s;
		-webkit-transition: all .175s;

		.notifications {

			h3 {
				margin:0;
				height: 4.5rem;
				line-height: 4.5rem;
				font-size: 1.25em;
				font-style: italic;
				font-weight: 300;
				background: rgba(255,255,255,.1);
				text-transform: uppercase;
				letter-spacing: 2px;
				color: rgba(255,255,255,.85);
				padding: 0 0 0 15px;
				width: 100%;
				display: block;
			}

			.notification {
				position: relative;
				padding: 0 0 0 1.5em;
				border-bottom: 1px solid rgba(255,255,255,.1);
				background: rgba(255,255,255,0);
				min-height: 6rem;
				opacity: .6;
				transition: all .125s;
				-ms-transition: all .125s;
				-moz-transition: all .125s;
				-webkit-transition: all .125s;

				.info {
					padding-top: .85em;

					h4 {
						font-size: 1em;
						font-weight: 400;
						margin: 0;
						line-height: 1.15em;
					}

					p {
						font-size: .9em;
						font-weight: 300;
						margin: 0;
						color: rgba(255,255,255,.85);
					}
				}

				.time {
					position: absolute;
					right: 0;
					top: 0;
					padding-top: 1em;
					height: 100%;
					width: 4em;

					p {
						margin: 0;
						font-size: .85em;
						line-height: 1.15em;

						span {
							display: block;
							font-size: 1.5em;
						}
					}
				}
			}

			.notification:hover {
				background: rgba(255,255,255,.05);
			}

			.notification.active {
				opacity: 1;
			}

			.notification.active:after {
				content: '';
				display: block;
				position: absolute;
				left: .5em;
				top: 43%;
				width: 6px;
				height: 6px;
				background: #fff;
				border-radius: 4px;
			}
		}

		.priorities {
			position: absolute;
			right: 0;
			width: 100%;
			top: 50vh;

			h3 {
				margin:0;
				line-height: 4rem;
				font-size: 1.25em;
				background: rgba(255,255,255,.05);
				font-style: italic;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: rgba(255,255,255,.85);
				padding: 0 0 0 15px;
				width: 100%;
				display: block;
			}

			.priorities-list {

				.priority {
					cursor: pointer;
					position: relative;
					padding: 1.5em 15px;
					border-bottom: 1px solid rgba(255,255,255,.1);
					background: rgba(255,255,255,0);
					transition: all .125s;
					-ms-transition: all .125s;
					-moz-transition: all .125s;
					-webkit-transition: all .125s;

					h4 {
						font-size: 1em;
						font-weight: 600;
						margin: 0;
						line-height: 1.25em;
					}

					p {
						margin: 0;
						font-size: 1em;
						font-weight: 300;
						line-height: 1.25em;
					}

					.num {
						position: absolute;
						right: 0;
						top: 0;
						height: 100%;
						background: rgba(255,255,255,.05);
						font-size: 2.5em;
						line-height: 2.25em;
						text-align: center;
						font-weight: 700;
						font-style: italic;
						width: 1.5em;
					}
				}

				.priority:hover {
					background: rgba(255,255,255,.05);
				}
			}
		}
	}

	.notifications-container:hover {
		right: 0;
	}

	.menu {

		.menu-item {
			position: relative;
			top: 0;
			text-align: center;
			padding: 1em;
			cursor: pointer;
			opacity: .7;
			margin: 0 0 1em;
			background: transparent;
			border: 2px solid transparent;
			transition: all .15s;
			-ms-transition: all .15s;
			-moz-transition: all .15s;
			-webkit-transition: all .15s;
			
			.icon {
				width: auto;
				display: block;
				max-width: 40%;
				margin: 0 auto 1em;
			}

			h4 {
				font-size: 1.15em;
				line-height: 1.25em;
				margin: 0;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-weight: 300;
			}
		}

		.menu-item:hover {
			opacity: 1;
			background: rgba(255,255,255,.05);
			border: 2px solid $highlight;
			color: $highlight;
		}

		.menu-item.out {
			opacity: 0;
			top: 15px;
		}
	}

	.menu.out {
		display: none;
	}

	.menu.in {
		display: block;
	}
}


#leaders {
	padding: 12rem 0;
}


#eye {
	position: relative;
	z-index: 50;

	a.loadmap {
		display: inline-block;
		border: 2px solid #ccc;
		background: #f1f1f1;
		font-size: 1.25em;
		padding: .5em 1.5em;
		margin: 1em;
	}

	#mapOverlay {
		background: #111;
		z-index: 15;
		text-align: center;
		padding-top: 40vh;
		z-index: 500;

		h3 {
			position: relative;
			text-align: center;
			display: inline-block;
			margin: 0;
			font-size: 4em;
			opacity: .5;
			font-weight: 100;
			color: #fff;
			font-family: 'Roboto', sans-serif;

			span {
				position: absolute;
				left: 0;
				bottom: -.5em;
				height: .1em;
				background: #fff;
				width: 10%;
				opacity: 0;
				transition: all .75s;
				-ms-transition: all .75s;
				-moz-transition: all .75s;
				-webkit-transition: all .75s;
			}
		}
	}

	#maps {
		position: fixed;
		top: 10rem;
		left: 0;
		width: 100%;
		height: 85vh;
	}

	#map, #mapOverlay {
		position: fixed;
		width: 100vw;
		height: 85vh;
	}

	#map {
		border-bottom: 3px solid lightgreen;

		.labels {
			background: red;
		}
	}

	#navigation {
		display: none;
		position: absolute;
		left: 4vw;
		top: 10vh;
		width: 27vw;
		max-width: 40em;
		z-index: 250;
		background: rgba(0,0,0,.65);

		.navlist {
			padding: 9em 0 2em;
			max-height: 60vh;
			overflow-y: scroll;
			display: none;

			#directionsPanel {
				background: transparent;

				table.adp-placemark {
					border: 0;
					margin: 0;
					position: absolute;
					z-index: 15;
					left: 0;
					top: 0;
					padding: 1.75em 1em;
					display: block;
					border-bottom: 1px solid lightgreen;
					background: rgba(0,0,0,.75);

					td {
						color: lightgreen;
						font-size: 1.75em;
						font-family: 'Raleway', sans-serif;

						img {
							display: inline-block;
							max-height: 4rem;
							margin-right: 1.15rem;
							vertical-align: middle;
						}
					}
				}

				div[data-leg-index="0"] {

					.adp-placemark {
						display: none;
					}
				}

				.adp-summary {
					font-family: 'Raleway', sans-serif;
					font-weight: 300;
					color: lightgreen;
					padding: .5em 1em;
					text-align: left;

					span {
						display: block;
						font-size: 1.75em;
						line-height: 2em;
						margin-right: 1.5rem;

						img {
							display: inline-block;
							max-height: 3.75rem;
							margin-right: 1.5rem;
							vertical-align: middle;
						}

						svg {
							color: #fff;
							font-size: 2.5rem;
							display: inline-block;
							margin-right: 1.5rem;
							margin-left: .65rem;
						}
					}

					span[jstcache="57"] {
						display: none;
					}
				}

				table {

					tr {

					}						

					.adp-substep {
						font-family: 'Raleway', sans-serif;
						font-weight: 300;
						font-size: 1.25em;
						color: #fff;
						padding-top: 1.25em;
						padding-bottom: 1.25em;
						border-top: 2px solid rgba(255,255,255,.05);

						.adp-stepicon {
							filter: brightness(500%);
						}
					}

					.adp-substep:first-child {
						padding-left: 1em;
					}
					.adp-substep:last-child {
						padding-right: 1em;
					}

				}

				table.adp-directions {

					tr {
						color: #fff;
						min-height: 8em;
						display: block;
					}

					tr:nth-child(odd) {
						background: rgba(0,0,0,.5);
					}
				}
			}

			p {
				font-size: 1.25em;
				line-height: 1.5em;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				margin: 0 0 1.5em;
				color: #fff;
			}
		}
	}
}


#test {
	padding: 6em 0;

	h1 {
		font-size: 2.5em;
		margin: 0 0 1em;
	}

	.api {
		border: 1px solid #ccc;
		margin: 0 0 2em;
		padding: 1.5em;

		h3 {
			margin: 0 0 .25em;
			font-size: 1.5em;
			font-weight: 600;
			line-height: 1.25em;
		}

		h4 {
			font-size: .8em;
			color: #aaa;
			font-style: italic;
			text-transform: uppercase;
		}

		p {
			font-size: 1.15em;
			line-height: 1.25em;
			margin: 0 0 1em;
		}

		a {
			display: inline-block;
			padding: .5em 1.5em;
			background: #eee;
			color: #333;
			margin: 0 0 1em;
			text-decoration: none;
		}

		img {
			display: block;
			width: 100%;
			border: 2px solid #ccc;
		}

		a:hover {
			background: #ddd;
		}

		.response {
			border: 1px solid #ccc;
			padding: .25em .5em;
		}
	}
}

.ui-helper-hidden-accessible {
	display: none;
}


#weather {
	padding: 12rem 0;

	.block {
		margin-bottom: 3em;
		border: 2px solid #ccc;
		padding: 1em;

		h3 {
			margin: 0 0 .5em;
		}

		a {
			display: block;
			padding: .5em 1em;
			font-size: 1em;
			text-decoration: none;
			color: #999;
			cursor: pointer;
			text-align: center;
			border: 1px solid #aaa;

			i, svg {
				display: inline-block;
				margin-left: .5em;
			}
		}

		a:hover {
			color: #333;
			border: 1px solid #333;
			background: #eee;
		}

		.response {
			max-height: 15em;
			overflow-y: auto;
		}
	}
}


#search {
	padding: 12rem 0;

	.search-widget {

	}

	#searchresult {
		position: relative;
		z-index: 50;
		background: #fff;
		margin-bottom: 3em;

		ul {
			position: absolute;
			left: 0;
			top: 0;
			list-style-type: none;
			margin: 0;
			padding: 0;
			z-index: 15;
			background: rgba(255,255,255,1);
			border: 1px solid #ccc;
			box-shadow: 0 5px 8px rgba(0,0,0,.2);

			li {
				display: block;
				font-size: 1em;
				cursor: pointer;
				line-height: 2em;
				padding: .5em 1em;
				background: rgba(0,0,0,.015);
				border-bottom: 1px solid #ccc;

				a {
					display: inline-block;
					color: #333;
					text-decoration: none;
					padding: .2em .5em;
					background: rgba(0,0,0,.05);

					i, svg {
						margin-left: .25em;
						display: inline-block;
					}
				}

				a:hover {
					background: rgba(0,0,0,.1);
				}
			}

			li:hover {
				background: rgba(0,0,0,.05);
			}
		}
	}

	.userlist {

		p {
			margin: 0;
			font-size: 1.15em;
			line-height: 2.5em;
			border-bottom: 1px solid #ddd;
		}
	}

	.message-modal {
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.1);
		z-index: 150;

		.modal-content {
			position: relative;
			background: #fff;
			border-radius: .5em;
			box-shadow: 0 0 15px rgba(0,0,0,.5);
			padding: 1em;
			width: 45em;
			margin: 25vh auto 0;

			h3 {
				font-size: 1.5em;
				margin: 0 0 .5em;
				line-height: 1.25em;
			}

			.exit {
				position: absolute;
				right: 1em;
				top: 1em;
				border: 1px solid #ccc;
				color: #ccc;
				padding: .15em .5em;
				display: inline-block;
				cursor: pointer;
			}

			.exit:hover {
				border: 1px solid #333;
				color: #333;
			}

			.button-container {

				.button {

				}

				.button:hover {
					background: #ddd;
				}
			}
		}
	}
}


#translator {
	padding: 12rem 0;

	h1 {
		margin: 0 0 1em;
	}

	.form-control {
		margin-bottom: 1.5em;
	}

	a {
		display: inline-block;
		padding: .5em 1em;
		border: 1px solid #ccc;
		text-decoration: none;
		color: #999;
	}

	a:hover {
		border: 1px solid #555;
		color: #111;
	}

	.translate-response {
		border: 1px solid #ccc;
		padding: .75em;

		h3 {
			font-size: .85em;
			font-weight: 300;
			font-style: italic;
			color: #aaa;
			margin: 0 0 .5em;
		}
	}
}


#clusterduck {
	padding: 4em 0 12em;
	background: #260065;

	img {
		display: block;
		width: 100%;
	}
}
















