// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1, h2, h3, h4, h5, h6, span, p, a, ul, li, div, em, b {
	font-family: 'Oxygen', sans-serif;
}


#index {
	padding: 8em 0;

	.introduction {
		text-align: center;

		img.logo {
			display: block;
			width: 10em;
			margin: 0 auto 2em;
		}

		h1 {
			font-weight: 700;
			margin: 0 0 .25em;
			line-height: 1.25em;
		}

		p {
			font-size: 1.25em;
			font-weight: 300;
			line-height: 1.25em;
			margin: 0 0 1em;
		}

		.login {
			width: 75%;
			margin: 1em auto;

			.form-control {
				display: inline-block;
				margin: 0 0 1.5em;
			}

			.button-container {
				text-align: left;

				
			}
		}
	}
}








