// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1, h2, h3, h4, h5, h6, span, p, a, ul, li, div, em, b {
	font-family: 'Oxygen', sans-serif;
}



.conversation {
	position: relative;

	.input-container {
		padding: 1em;
		position: absolute;
		text-align: left;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 15;

		#readout {
			background: transparent;
			outline: 0;
			box-shadow: 0;
			border: 0;
			font-size: 1.25em;
			line-height: 1.25em;
			height: auto;
			color: #333;
			border-radius: 0;
			padding: 0;
		}

		#startBtn {
			background: transparent;
			color: #333;
			box-shadow: 0 0 0;
			border: 2px solid rgba(0,0,0,.75);
			margin-right: .25em;
			font-size: 1.15em;
			outline: 0;
			width: 2.5em;
			height: 2.5em;
			border-radius: 1.5em;
		}

		#startBtn.active {
			background: rgba(0,0,0,1);
			color: orange;
			box-shadow: 0 0 15px rgba(0,0,0,.5);
		}
	}

	.dialogue {
		position: relative;
		z-index: 10;
		padding: 1em;
		min-height: 40vh;
		margin: 2em auto 0;
		text-align: center;
		display: block;
		width: 100%;
		border: 1px solid #ccc;

		.uploads-form {
			margin-top: 5em;
			margin-bottom: 2em;
			position: relative;
			top: 15px;
			opacity: 0;
			display: none;
			transition: all .25s;
			-ms-transition: all .25s;
			-moz-transition: all .25s;
			-webkit-transition: all .25s;

			.file-box {
				position: relative;
				display: block;
				cursor: pointer;

				.file-label {
					cursor: pointer;
					padding: 3em 2em;
					font-size: 1.5em;
					border: 5px solid orange;
					position: relative;
					color: orange;
					z-index: 15;
					text-align: center;
					display: block;
				}

				.file-input {
					cursor: pointer;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 50;
					color: #fff;
					opacity: 0;
				}
			}

			.file-box:hover {

				.file-label {
					color: #333;
					background: orange;
				}
			}
		}

		.uploads-form.in {
			display: block;
			top: 0px;
			opacity: 1;
		}

		p.message {
			display: block;
			position: relative;
			text-align: left;
			font-weight: 300;
			padding: 0;
			margin: 0 0 1em;
			top: 0;
			font-size: 2em;
			height: 3.5em;
			height: auto;
			color: rgba(0,0,0,.9);
			opacity: 1;
			transition: all .35s;

			svg {
				display: inline-block;
				margin-right: .5em;
			}
		}

		p.message.out {
			opacity: 0;
			top: 20px;
		}

		p.message.fadeout {
			opacity: 0;
			top: -20px;
		}
	}
}

#wavesContainer {
	position: relative;
	width: 100%;
	z-index: 1;
	overflow-x: hidden;
	opacity: 1;
	transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;

	canvas {
		width: 100%;
	}
}


#index {
	padding: 10vh 0 8em;

	.introduction {
		text-align: center;

		img.logo {
			display: block;
			height: 20vh;
			margin: 0 auto 10vh;
		}

		h1 {
			font-weight: 700;
			margin: 0 0 .5em;
			line-height: 1.25em;
		}

		p {
			font-size: 1.25em;
			font-weight: 300;
			line-height: 1.25em;
			margin: 0 0 1em;
		}

		.login {
			width: 75%;
			margin: 1em auto;

			.form-control {
				display: inline-block;
				margin: 0 0 1.5em;
			}

			.button-container {
				text-align: left;
			}
		}
	}
}



#eye {
	position: relative;
	z-index: 50;

	a.loadmap {
		display: inline-block;
		border: 2px solid #ccc;
		background: #f1f1f1;
		font-size: 1.25em;
		padding: .5em 1.5em;
		margin: 1em;
	}

	#mapOverlay {
		background: #111;
		z-index: 15;
		text-align: center;
		padding-top: 40vh;
		z-index: 500;

		h3 {
			position: relative;
			text-align: center;
			display: inline-block;
			margin: 0;
			font-size: 4em;
			opacity: .5;
			font-weight: 100;
			color: #fff;
			font-family: 'Roboto', sans-serif;

			span {
				position: absolute;
				left: 0;
				bottom: -.5em;
				height: .1em;
				background: #fff;
				width: 10%;
				opacity: 0;
				transition: all .75s;
				-ms-transition: all .75s;
				-moz-transition: all .75s;
				-webkit-transition: all .75s;
			}
		}
	}

	#maps {
		position: fixed;
		top: 7rem;
		left: 0;
		width: 100%;
		height: 85vh;
	}

	#map, #mapOverlay {
		position: fixed;
		width: 100vw;
		height: 85vh;
	}

	#map {
		border-bottom: 3px solid lightgreen;

		.labels {
			background: red;
		}
	}

	#navigation {
		display: none;
		position: absolute;
		left: 4vw;
		top: 10vh;
		width: 27vw;
		max-width: 40em;
		z-index: 250;
		background: rgba(0,0,0,.65);

		.navlist {
			padding: 9em 0 2em;
			max-height: 60vh;
			overflow-y: scroll;
			display: none;

			#directionsPanel {
				background: transparent;

				table.adp-placemark {
					border: 0;
					margin: 0;
					position: absolute;
					z-index: 15;
					left: 0;
					top: 0;
					padding: 1.75em 1em;
					display: block;
					border-bottom: 1px solid lightgreen;
					background: rgba(0,0,0,.75);

					td {
						color: lightgreen;
						font-size: 1.75em;
						font-family: 'Raleway', sans-serif;

						img {
							display: inline-block;
							max-height: 4rem;
							margin-right: 1.15rem;
							vertical-align: middle;
						}
					}
				}

				div[data-leg-index="0"] {

					.adp-placemark {
						display: none;
					}
				}

				.adp-summary {
					font-family: 'Raleway', sans-serif;
					font-weight: 300;
					color: lightgreen;
					padding: .5em 1em;
					text-align: left;

					span {
						display: block;
						font-size: 1.75em;
						line-height: 2em;
						margin-right: 1.5rem;

						img {
							display: inline-block;
							max-height: 3.75rem;
							margin-right: 1.5rem;
							vertical-align: middle;
						}

						svg {
							color: #fff;
							font-size: 2.5rem;
							display: inline-block;
							margin-right: 1.5rem;
							margin-left: .65rem;
						}
					}

					span[jstcache="57"] {
						display: none;
					}
				}

				table {

					tr {

					}						

					.adp-substep {
						font-family: 'Raleway', sans-serif;
						font-weight: 300;
						font-size: 1.25em;
						color: #fff;
						padding-top: 1.25em;
						padding-bottom: 1.25em;
						border-top: 2px solid rgba(255,255,255,.05);

						.adp-stepicon {
							filter: brightness(500%);
						}
					}

					.adp-substep:first-child {
						padding-left: 1em;
					}
					.adp-substep:last-child {
						padding-right: 1em;
					}

				}

				table.adp-directions {

					tr {
						color: #fff;
						min-height: 8em;
						display: block;
					}

					tr:nth-child(odd) {
						background: rgba(0,0,0,.5);
					}
				}
			}

			p {
				font-size: 1.25em;
				line-height: 1.5em;
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				margin: 0 0 1.5em;
				color: #fff;
			}
		}
	}
}


#test {
	padding: 6em 0;

	h1 {
		font-size: 2.5em;
		margin: 0 0 1em;
	}

	.api {
		border: 1px solid #ccc;
		margin: 0 0 2em;
		padding: 1.5em;

		h3 {
			margin: 0 0 .25em;
			font-size: 1.5em;
			font-weight: 600;
			line-height: 1.25em;
		}

		h4 {
			font-size: .8em;
			color: #aaa;
			font-style: italic;
			text-transform: uppercase;
		}

		p {
			font-size: 1.15em;
			line-height: 1.25em;
			margin: 0 0 1em;
		}

		a {
			display: inline-block;
			padding: .5em 1.5em;
			background: #eee;
			color: #333;
			margin: 0 0 1em;
			text-decoration: none;
		}

		img {
			display: block;
			width: 100%;
			border: 2px solid #ccc;
		}

		a:hover {
			background: #ddd;
		}

		.response {
			border: 1px solid #ccc;
			padding: .25em .5em;
		}
	}
}

.ui-helper-hidden-accessible {
	display: none;
}

#search {
	padding: 4em 0;

	.search-widget {

	}

	#searchresult {
		position: relative;
		z-index: 50;
		background: #fff;
		margin-bottom: 3em;

		ul {
			position: absolute;
			left: 0;
			top: 0;
			list-style-type: none;
			margin: 0;
			padding: 0;
			z-index: 15;
			background: rgba(255,255,255,1);
			border: 1px solid #ccc;
			box-shadow: 0 5px 8px rgba(0,0,0,.2);

			li {
				display: block;
				font-size: 1em;
				cursor: pointer;
				line-height: 2em;
				padding: .5em 1em;
				background: rgba(0,0,0,.025);
				border-bottom: 1px solid #ccc;
			}

			li:hover {
				background: rgba(0,0,0,.1);
			}
		}
	}

	.userlist {

		p {
			margin: 0;
			font-size: 1.15em;
			line-height: 2.5em;
			border-bottom: 1px solid #ddd;
		}
	}
}


#translator {
	padding: 4em 0;

	h1 {
		margin: 0 0 1em;
	}

	.form-control {
		margin-bottom: 1.5em;
	}

	a {
		display: inline-block;
		padding: .5em 1em;
		border: 1px solid #ccc;
		text-decoration: none;
		color: #999;
	}

	a:hover {
		border: 1px solid #555;
		color: #111;
	}

	.translate-response {
		border: 1px solid #ccc;
		padding: .75em;

		h3 {
			font-size: .85em;
			font-weight: 300;
			font-style: italic;
			color: #aaa;
			margin: 0 0 .5em;
		}
	}
}



















