// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#messages {
	padding: 6em 0;

	.message {
		position: relative;
		display: block;
		padding: .75em 1em;
		border-bottom: 1px solid #ccc;
		background: rgba(0,0,0,0);
		cursor: pointer;
		transition: all .1s;
		-ms-transition: all .1s;
		-moz-transition: all .1s;
		-webkit-transition: all .1s;
	}

	.message:hover {
		background: rgba(0,0,0,.075);
	}

	.message.unread:before {
		display: block;
		content: "";
		width: .5em;
		height: .5em;
		background: royalblue;
		border-radius: .5em;
		position: absolute;
		left: .25em;
		top: 38%;
	}
}