// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#messages {
	padding: 2em 0;

	h1 {
		font-size: 2em;
		margin: 0 0 1.5em;
		line-height: 1.15em;
	}

	h3 {
		font-size: 1.5em;
		margin: 0 0 1em;
		line-height: 1.15em;
	}

	select {
		padding: .5em;
		display: none;
	}

	.messages-container {
		position: relative;
		max-width: 100%;
		overflow-x: hidden;
	}

	.message-list {
		position: relative;
		left: 0;
		width: 100%;
		top: 0;
		transition: all .25s;
		-ms-transition: all .25s;
		-moz-transition: all .25s;
		-webkit-transition: all .25s;

		.message {
			position: relative;
			display: block;
			padding: .75em 1em;
			border-bottom: 1px solid #ccc;
			background: rgba(0,0,0,0);
			cursor: pointer;
			transition: all .1s;
			-ms-transition: all .1s;
			-moz-transition: all .1s;
			-webkit-transition: all .1s;

			.delete-btn {
				float: right;
				display: inline-block;
				color: red;
				text-decoration: none;
				padding: .25em;
				background:transparent;
			}

			.delete-btn:hover {
				background: red;
				color: #fff;
			}
		}

		.message:hover {
			background: rgba(0,0,0,.075);
		}

		.message.unread:before {
			display: block;
			content: "";
			width: .5em;
			height: .5em;
			background: royalblue;
			border-radius: .5em;
			position: absolute;
			left: .25em;
			top: 38%;
		}
	}

	.message-list.out {
		left: -100%;
	}

	.message-window {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		border: 1px solid #ccc;
		padding: .75em .75em 4em;
		transition: all .25s;
		-ms-transition: all .25s;
		-moz-transition: all .25s;
		-webkit-transition: all .25s;

		.messages-response {
			display: none;
		}

		.message-input {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}

		.message {
			width: 84%;
			padding: .5em .75em;
			background: rgba(0,0,0,.05);
			color: #333;
			font-size: 1em;
			line-height: 1.25em;
			margin-bottom: .75em;
			border-radius: 5px;
		}

		.message.incoming {
			margin-left: 15%;
			background: rgba(15,125,255,.15)
		}

		.info {
			position: relative;
			margin-bottom: 1em;

			.back {
				display: inline-block;
				padding: .5em;
				cursor: pointer;
				margin-right: .5em;
			}

			.back:hover {
				background: rgba(0,0,0,.075);
			}

			.friend {
				display: inline-block;
			}
		}
	}

	.message-window.out {
		left: 100%;
	}
}