// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#messages {
	padding: 2em 0;

	h1 {
		font-size: 2em;
		margin: 0 0 1.5em;
		line-height: 1.15em;
	}

	h3 {
		font-size: 1.5em;
		margin: 0 0 1em;
		line-height: 1.15em;
	}

	select {
		padding: .5em;
		display: block;
	}

	form {
		margin-bottom: 4em;
	}

	.message-list {

		.message {
			position: relative;
			display: block;
			padding: .75em 1em;
			border-bottom: 1px solid #ccc;
			background: rgba(0,0,0,0);
			cursor: pointer;
			transition: all .1s;
			-ms-transition: all .1s;
			-moz-transition: all .1s;
			-webkit-transition: all .1s;

			.delete-btn {
				float: right;
				display: inline-block;
				color: red;
				text-decoration: none;
				padding: .25em;
				background:transparent;
			}

			.delete-btn:hover {
				background: red;
				color: #fff;
			}
		}

		.message:hover {
			background: rgba(0,0,0,.075);
		}

		.message.unread:before {
			display: block;
			content: "";
			width: .5em;
			height: .5em;
			background: royalblue;
			border-radius: .5em;
			position: absolute;
			left: .25em;
			top: 38%;
		}
	}

	.message-window {
		margin: 3em 0;
		border: 1px solid #ccc;
		padding: .75em;

		.messages-response {
			display: none;
		}

		.message {
			padding: .5em;
			background: rgba(0,0,0,.075);
			color: #333;
			font-size: 1em;
			line-height: 1.25em;
			margin-bottom: .75em;
			border-radius: 5px;
		}
	}
}