// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#messages {
	padding: 2em 0;

	h1 {
		font-size: 2em;
		margin: 0 0 1.5em;
		line-height: 1.15em;
	}

	h3 {
		font-size: 1.5em;
		margin: 0 0 1em;
		line-height: 1.15em;
	}

	select {
		padding: .5em;
		display: none;
	}

	.messages-container {
		position: relative;
		max-width: 100%;
		min-height: 90vh;
		overflow-x: hidden;
	}

	.message-list {
		position: relative;
		left: 0;
		width: 100%;
		top: 0;
		transition: all .25s;
		-ms-transition: all .25s;
		-moz-transition: all .25s;
		-webkit-transition: all .25s;

		.message {
			position: relative;
			display: block;
			font-size: 1.15em;
			font-weight: 600;
			padding: .75em 1em;
			border-bottom: 1px solid rgba(0,0,0,.1);
			background: rgba(0,0,0,0);
			cursor: pointer;
			transition: all .1s;
			-ms-transition: all .1s;
			-moz-transition: all .1s;
			-webkit-transition: all .1s;

			span {
				font-size: .85em;
				font-weight: 300;
				color: #999;
				display: inline-block;
				margin-left: 1em;
			}

			.delete-btn {
				float: right;
				display: inline-block;
				color: red;
				text-decoration: none;
				padding: .25em;
				background:transparent;
			}

			.delete-btn:hover {
				background: red;
				color: #fff;
			}
		}

		.message:hover {
			background: rgba(0,0,0,.075);
		}

		.message.unread:before {
			display: block;
			content: "";
			width: .5em;
			height: .5em;
			background: royalblue;
			border-radius: .5em;
			position: absolute;
			left: .25em;
			top: 38%;
		}
	}

	.message-list.out {
		left: -100%;
	}

	.message-window {
		position: absolute;
		left: 0;
		top: 0;
		min-height: 80vh;
		width: 100%;
		border: 1px solid #ccc;
		padding: 4em .75em;
		transition: all .25s;
		-ms-transition: all .25s;
		-moz-transition: all .25s;
		-webkit-transition: all .25s;

		.messages-response {
			display: none;
		}

		.messages-content {
			position: relative;
			max-height: 35vh;
			overflow-y: auto;
		}

		.message-input {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background: #fff;
			z-index: 25;
			border-top: 1px solid rgba(0,0,0,.15);

			.form-control {
				box-shadow: 0 0 0;
				border: 0;
				outline: 0;
				font-size: 1em;
				line-height: 2em;
				height: auto;
			}

			.button-container {
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;

				.button {
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					outline: 0;
					border: 0;
					padding: .5em 1.75em;
				}

				.button:hover {
					color: #111;
					background: #ddd;
				}
			}
		}

		.message {
			width: 84%;
			padding: .5em .75em;
			background: rgba(0,0,0,.05);
			color: #333;
			font-size: 1em;
			line-height: 1.25em;
			margin-bottom: .75em;
			border-radius: 5px;
		}

		.message.incoming {
			margin-left: 15%;
			background: rgba(15,125,255,.15)
		}

		.info {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: .5em .75em;
			background: #f1f1f1;

			.back {
				display: inline-block;
				padding: .5em;
				cursor: pointer;
				margin-right: .5em;
			}

			.back:hover {
				background: rgba(0,0,0,.075);
			}

			.friend {
				display: inline-block;
				font-weight: 600;
				font-size: 1.15em;
			}
		}
	}

	.message-window.out {
		left: 100%;
	}
}






@media(max-width: 768px) {

	#messages {

		.messages-container {
			min-height: 82vh;

			.message-window {
				min-height: 80vh;

				.messages-content {
					min-height: 63vh;
				}
			}
		}
	}
}








