// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$bg: #0f253a;
$highlight: #fcc802;

#signup {
	padding: 20vh 0;
	min-height: 100vh;
	background: $bg;

	h3 {
		color: #fff;
		margin: 0 0 .75em;
	}

	p {
		font-size: 1.15em;
		line-height: 1.25em;
		margin: 0 0 1.5rem;
		color: #fff;
	}

	a {
		color: #fff;
		text-decoration: underline;
	}

	form {

		.form-control {
			margin-bottom: 1em;
			background: transparent;
			padding: .5em 0;
			line-height: 1.5em;
			font-size: 1.15em;
			margin: 0 0 1.5rem;
			border: 0;
			border-radius: 0;
			color: #fff;
			box-shadow: 0 0 0;
			border-bottom: 2px solid rgba(255,255,255,.5);
			outline: 0;
		}

		.form-control:focus {
			border-bottom: 2px solid rgba(255,255,255,1);
		}
	}
}