<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<% if signed_in? %>
					<a href="/home" class="logo"><img class="logo" src="/assets/owl_icon.png" /></a>
					<div class="links">
						<a href="/incidents" class="incidents"><i class="fas fa-exclamation-triangle"></i></a>
						<a href="/eye" class="eye"><i class="fas fa-globe-americas"></i></a>
						<a href="/translator" class="translator"><i class="fas fa-language"></i></a>
						<a href="/search" class="search"><i class="fas fa-search"></i></a>
						<a href="/messages" class="messages"><i class="far fa-envelope"></i><span></span></a>
						<a href="/signin">Log Out</a>
					</div>

					<script type="text/javascript">
						var ms = "<%= Message.all.where(recipient: current_user.id).where(read: false).count %>"
						console.log(ms)
						if (parseInt(ms) > 0) {
							$(".links .messages").addClass("unread")
							$(".links .messages span").text(ms)
						}
					</script>
				<% else %>
					<a href="/home" class="logo"><img class="logo" src="/assets/owl_icon.png" /></a>
				<% end %>
			</div>
		</div>
	</div>
</header>