<header id="header" class="landingheader">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="/">Home</a>
				<a href="/owldetails">OWL</a>
				<a href="/clusterduck">Clusterduck</a>
				<a href="/opensource">Open Source</a>
			</div>
		</div>
	</div>
</header>