<header id="header" class="landingheader">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="/" class="home">Owl<img src="/assets/owl_icon_light.png"/></a>
				<div class="links">
					<a href="/owldetails" class="owl">OWL</a>
					<a href="/clusterduck" class="clusterduck">Clusterduck</a>
					<a href="/opensource" class="opensource">Open Source</a>
				</div>
			</div>
		</div>
	</div>
</header>