<div class="menu out">
	<div class="row">
		<div class="col-sm-4">
			<div class="menu-item incidents">
				<img class="icon" src="/assets/icon_information.png" />
				<h4>View Incidents</h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="menu-item mapping">
				<img class="icon" src="/assets/icon_map.png" />
				<h4>Map Tool</h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="menu-item civdata">
				<img class="icon" src="/assets/icon_map.png" />
				<h4>Civilian Data Map</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="menu-item weather">
				<img class="icon" src="/assets/icon_sun.png" />
				<h4>Weather</h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="menu-item">
				<img class="icon" src="/assets/icon_translate.png" />
				<h4>Resources</h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="menu-item">
				<img class="icon" src="/assets/icon_message.png" />
				<h4>Messaging</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="menu-item">
				<img class="icon" src="/assets/icon_user.png" />
				<h4>My Account</h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="menu-item">
				<img class="icon" src="/assets/icon_information.png" />
				<h4>Information</h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="menu-item">
				<img class="icon" src="/assets/icon_hierarchy.png" />
				<h4>Management</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="menu-item">
				<img class="icon" src="/assets/icon_camera.png" />
				<h4>Claims</h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="menu-item">
				<img class="icon" src="/assets/icon_health.png" />
				<h4>Emergency</h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="menu-item">
				<img class="icon" src="/assets/icon_search.png" />
				<h4>Search</h4>
			</div>
		</div>
	</div>
</div>